footer {
  position: absolute;
  bottom: 0px;
  top: 690px;
  height: 90px;
  margin-top: 20px;
  // background-color: rgb(44, 63, 70);
  background-color: #003748;
  width: 1280px;
  color: white;

  mat-grid-list {

    mat-grid-tile {
      mat-icon {
        margin-right: 25px;
        font-size: 40px;
        margin-bottom: 23px;
      }

      p {
        margin-left: 10px;
        padding: 0px;
        line-height: 21px;
      }
    }
  }
}
