<footer>
  <mat-grid-list cols="4" rowHeight="80px">
    <mat-grid-tile>
      <p>FOOTER</p>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon>home</mat-icon>
      <p> Carrera 29 9C Bis 37C. <br>
        Cali Colombia.
      </p>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon>email</mat-icon>
      <p>
        ceo@evolfai.com
      </p>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-icon>phone</mat-icon>
      <p>
        300 418 0371
      </p>
    </mat-grid-tile>
  </mat-grid-list>

</footer>
