footer {
  position: absolute;
  bottom: 0px;
  top: 407px;
  height: 65px;
  margin-top: 8px;
  background-color: #003748;
  width: 800px;
  color: white;

  mat-grid-list {

    mat-grid-tile {
      mat-icon {
        margin-right: 25px;
        font-size: 30px;
        margin-bottom: 23px;
      }

      p {
        margin-left: 0px;
        padding: 0px;
        line-height: 15px;
        font-size: 11px;
      }
    }
  }
}
