<section>
  <div class="container">
    <div class="row">
      <div class="col-7">
        <h1>
          PROYECTO NOMBRE
        </h1>
      </div>
      <div class="col-5">
        <img src="assets/images/logo.jpg" width="120px" alt="Logo" style="padding-top: 5px">
      </div>
    </div>
  </div>

  <div class="container_project">
    <div class="row">
      <div class="col-6">
        <h2>DATOS DEL PROYECTO</h2>
        <div class="box_data_project">
          <ul>
            <li>
              <b>Lugar de impacto:</b> Alto Jordan Cali
            </li>
            <li>
              <b>Cantidad de aportes:</b> 15
            </li>
            <li>
              <b>Valor recaudado: </b> $ 70.000
            </li>
            <li>
              <b> Cantidad de familias impactadas: </b>10
            </li>
          </ul>
        </div>
      </div>
      <div class="col-6 content_amount">
        <H2>INGRESA TU APORTE</H2>

        <div class="list_amount">
          <mat-chip-list>
            <mat-chip color="primary" selected>$ {{coin | number : '3.0-0': 'es'}}</mat-chip>
            <p>ÚLTIMA MONEDA</p>
            <mat-chip color="accent" selected>$ {{bill | number : '3.0-0': 'es'}}</mat-chip>
            <p>ÚLTIMO BILLETE</p>
            <mat-chip color="warn" selected> $ {{ (totalBills+totalCoins) | number : '3.0-0': 'es'}} </mat-chip>
            <p>TOTAL</p>

          </mat-chip-list>
        </div>

        <button mat-button color="primary" (click)="onGoToInsertPhonenumber()"> CONTINUAR</button>

      </div>
    </div>
  </div>


</section>



<app-footer></app-footer>
