section {
  margin-top: 5px;

  h1, h2 {
    color: #585858;
    padding: 1px 0px 1px;
    font-size: 1.5em;
  }

  h2 {
    color: #585858;
    font-size: 1.2em;
  }


  p {
    padding: 10px 50px;
    letter-spacing: 1px;
  }

  .box_data_project {
    min-height: 200px;
    background-color: #f6f7ff;
    padding: 0px 2px 5px;
    border-radius: 18px;
    border: 1px solid #585858;

    ul {
      padding-left: 10px;
      li {
        list-style-type: none;
        margin: 20px 0px;
        text-align: left;
        font-size: 1.1em;
        color: #585858;
      }
    }
  }
  .container_project {
      width: 90%;
      margin: 0 auto;
  }

  .list_amount {
    padding-left: 40px;
    text-align: center;
  }

  mat-chip-list {
    mat-chip {
      min-width: 145px;
      min-height: 18px;
      text-align: center;
      font-size: 1em;
      font-family: 'Roboto Condensed', sans-serif;
      padding: 18px 11px;
    }

    p {
      font-size: 1em;
      font-weight: bold;
      color: #585858;
      padding: 5px 3px;
    }
  }

  .content_amount {
    button {
      margin-top: 15px;
      min-width: 80px;
      padding: 4px 17px;
      font-size: 1em;
      font-weight: bold;
      font-family: 'Roboto Condensed', sans-serif;
      border: 1px solid #585858;

    }
  }

}
