<section>
  <app-echo></app-echo>

<!--     <app-document-list></app-document-list>
    <app-document></app-document> -->

<!--   <div class="header">
    <h1>EVOLFAI</h1>
    <p>
      En busca de una humanidad sostenible
    </p>
  </div>

  <div class="conatiner">
    <div class="row">
      <div class="col-4">
        <img src="assets/images/video.png" alt="" width="350px" class="video">
      </div>
      <div class="col-8">
        <p class="descripcion">
          Por tu gran aporte tendrás acceso a Internet ZONAFAI; para que puedas conectar con más personas y más
          propósitos
        </p>
        <div class="box">
          <p>
            Tu aporte entre 1.000 y 2.000: Acceso ZONAFAI por 1 hora
          </p>
          <p>
            Tu aporte mayor a 2.000: Acceso ZONAFAI por 24 horas
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="btn_next">
    <button mat-raised-button color="basic" (click)="onNext()">SIGUIENTE</button>
  </div> -->


</section>
