section {
  background-color: rgb(238, 238, 238);
  height: 480px;

  .header {
    h1 {
      font-size: 3em !important;
      padding: 10px 0px 0px;
      margin: 0px 0px 40px;
    }

    p {
      font-size: 2em;
      margin-bottom: 0px;
      color: #585858;
      margin: 0px;
      padding: 0px 0px 30px;
    }
  }

  p {
    padding: 0px 32px;
    letter-spacing: 1px;
  }

  .container {
    padding: 0px 45px;
  }

  p.descripcion {
    font-size: 1em;
    color: #585858;
    margin-bottom: 30px;
  }

  .video {
    margin-top: 20px;
  }

  .box {
    font-size: 1em;
    color: #585858;
    width: 350px;
    margin: 0 auto;
    p {
      padding: 8px 7px;
      border: 1px solid #585858;
    }
  }

  .btn_next {
    position: relative;
    left: 100px;

    button {
      width: 150px;
      height: 40px;
      font-size: 1.4em;
      font-family: 'Roboto Condensed', sans-serif;
    }
  }

}
