section {
  margin-top: 15px;

  p {
    padding: 10px 50px;
    letter-spacing: 1px;
  }

}

.example-card {
  max-width: 300px;
}

.container {
  text-align: center;
  .row {
    text-align: center;
  }
}

/* 
.owl-item img {
  width: 96%;
  margin: 0 auto;
}

drag-scroll {
  height: 300px;
  width: 300px;
} */

/* img {
  height: 50px;
  width: 500px;
} */
