<p>
  home works!

</p>

<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

</div>

<!-- <drag-scroll>
  <img drag-scroll-item src="https://picsum.photos/300?image=10" />
  <img drag-scroll-item src="https://picsum.photos/300?image=11" />
  <img drag-scroll-item src="https://picsum.photos/300?image=12" />
</drag-scroll>
 -->
<!-- <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
  <div class="item" *ngFor="let image of mySlideImages; let i = index">
    <div>
      <img src={{image}} />
    </div>
  </div>
</owl-carousel> -->
