<section>
  <h1>
    ESCOGE TU PROYECTO
  </h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit earum aliquid cum ducimus illo
    possimus molestias laudantium, numquam officia est iste totam, aperiam doloribus culpa iusto dicta. Inventore, nisi?
  </p>
</section>

<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="100px" alt="u">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>CONTINUAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="example-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" width="100px" alt="u">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>CONTINUAR</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


<mat-grid-list cols="2" rowHeight="200px">
  <mat-grid-tile>


  </mat-grid-tile>

  <mat-grid-tile>

  </mat-grid-tile>

</mat-grid-list>



<!-- <drag-scroll>
  <img drag-scroll-item src="https://picsum.photos/300?image=10" />
  <img drag-scroll-item src="https://picsum.photos/300?image=11" />
  <img drag-scroll-item src="https://picsum.photos/300?image=12" />
</drag-scroll>
 -->
<!-- <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
  <div class="item" *ngFor="let image of mySlideImages; let i = index">
    <div>
      <img src={{image}} />
    </div>
  </div>
</owl-carousel> -->
