h1 {
  color: #585858;
  padding: 17px 0px 10px;
  margin: 0px;
  font-size: 1.5em;
}
.code_qr {
  text-align: left;

  button {
    margin-top: 10px;
    min-width: 100px;
    padding: 0px 50px;
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #585858;
  }
}

.code_qr {

  h3,
  h2 {
    font-size: 1.2em;
    color: #585858;
    margin: 0px 0px;
  }
  h3 {
    margin-top: 10px;
  }
}

.recommendations {

  h3,
  h2 {
    margin: 5px 0px;
    font-size: 1.2em;
    color: #585858;
  }

  ul {
    text-align: left;

    li {
      padding: 2px 0px;
      font-size: 1.1em;
      color: #585858;
    }
  }
}
