<section class="show_coupon">
  <h1>GRACIAS POR TU APORTE</h1>

  <div class="container">
    <div class="row">
      <div class="col-6 code_qr">
        <h2>CUPÓN DE ACCESO</h2>
        <img src="assets/images/qr.png" alt="QR" width="00px">
        <h3>343YTU</h3>
        <button mat-button color="primary" routerLink="/"> TERMINAR</button>
      </div>
      <div class="col-6">
        <div class="recommendations">
<!--           <h2>PUBLICIDAD</h2>
          <div class="image_banner">
            <img src="https://picsum.photos/id/405/340/140" width="340px" alt="u">
          </div> -->
          <h3>
            Recomendaciones para tu Acceso:
          </h3>
          <ul>
            <li> Deshabilita tus datos.</li>
            <li> Conectate a la red wifi: ZONAFAI.</li>
            <li> Abre el mensaje de texto y da click en el link o ingresa tu código en portal wifi.zonafai.com.</li>
            <li> Captura o anota el código que aparece en pantalla.</li>
            <li> Disfruta de tu acceso.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
