.layout {
  border: 1px solid #585858;
  width: 1280px;
  height: 800px;

}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
