section {
  margin-top: 6px;

  h1 {
    color: #585858;
    padding: 0px 0px 0px;
    font-size: 1.2em;
  }

  p {}

}

p.descrip {
  color: #585858;
  letter-spacing: 1px;
  font-size: 1.2em;
  width: 500px;
  margin: 0px auto;
  padding: 10px 0px;
}

.example-card {
  max-width: 200px;
}

.container {
  text-align: center;
  width: 600px;
  margin: 0 auto;

  .row {
    text-align: center;

  }
}

mat-card-content {
  padding: 0px;
  margin: 0px;

  p {
    padding: 0px;
    margin: 0px;
  }

  padding: 0px;

  mat-card-actions {
    button {
      margin: 0px;
    }
  }
}
