<section class="header_project">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>
          ESCOGE EL PROYECTO AL CUÁL DESEAS APORTAR
        </h1>
      </div>
      <div class="col-5">
        <img src="assets/images/logo.jpg" width="150px" alt="Logo" style="padding-top: 5px">
      </div>
    </div>
  </div>

  <p class="descrip">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium suscipit earum aliquid.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <mat-card class="example-card">
          <img mat-card-image src="https://picsum.photos/id/140/200/100" width="50px" alt="u">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="primary" routerLink="/project">SELECCIONAR</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="example-card">
          <img mat-card-image src="https://picsum.photos/id/301/200/100" width="50px" alt="u">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="primary" routerLink="/project">SELECCIONAR</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
