.access_coupon {
  h1 {
    color: #585858;
    padding: 27px 0px 15px;
    margin: 0px;
    font-size: 2.2em;
  }

}

input {
  width: 72%;
  height: 60px;
  padding: 20px;
  font-size: 30px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  letter-spacing: 3px;
  color: #585858;
  font-weight: bold;
  margin-bottom: 10px;
}

.numeric-theme {
  max-width: 320px;
  margin: 0 auto;
}

.numeric-theme+.simple-keyboard-preview {
  max-width: 320px;
}

.simple-keyboard.hg-theme-default.numeric-theme .hg-button.hg-standardBtn.hg-button-at {
  max-width: none;
}
.container_coupon {
    width: 85%;
    margin: auto 0;
    padding: 15px;
}

.keyboard_cel {
  border: 1px solid #cccccc;
  min-height: 530px;
  padding: 10px 10px;
  border-radius: 10px;
  margin-left: 40px;

  p {
    font-size: 1.6em;
    color: #585858;
  }

  button {
    margin-top: 20px;
    min-width: 120px;
    padding: 8px 26px;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #01DF01;
    color: #585858;
  }
}

.image_fundacion {
  text-align: center;
  padding-left: 80px;

  image {
    padding: 10px;
  }
}

.simple-keyboard.hg-theme-default.myTheme {
  border: 5px solid red;
  border-radius: 10px;
  margin: 10px;
  width: calc(100% - 20px);
}

.simple-keyboard.hg-layout-default .hg-button.hg-send {
  background: #01DF01;
  color: white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-highlight {
  box-shadow: 0px 0px 40px 5px rgba(255, 255, 0, 0.5);
  z-index: 1;
}
